body {
  margin: 0;
  background-color: antiquewhite;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: "Capriola", sans-serif;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
}

.center {
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 25vh 0 0 0;
}

p {
  font-size: 24px;
  margin: 0;
}

hr {
  border: 0;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

a.button-reg {
  border-radius: 25px;
  font-size: 36px;
  margin: 0;
  padding: 10px 20px;
  background-color: black;
  color: antiquewhite;
  text-decoration: none;
}

a.button-exa {
  border-radius: 25px;
  font-size: 32px;
  margin: 0;
  padding: 10px 20px;
  border: 5px solid black;
  color: black;
  text-decoration: none;
}

.stovonson {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

a {
  color: black;
}

#container {
  height: 80pt;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-bottom: 10px;
  padding: 0 5px;
}

#animated-text {
  font-family: "Capriola", sans-serif;
  font-size: 70pt;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  white-space: nowrap;
}

#animated-text.slide-out {
  transform: translateX(-300%);
}

#animated-text.slide-in {
  transform: translateX(0);
}

#static-text {
  font-family: "Capriola", sans-serif;
  font-size: 70pt;
  text-align: center;
}

@media (max-width: 850px) {
  p.tagline {
      font-size: 28px !important;
  }
  p {
      font-size: 18px;
  }
  .buttons {
      flex-direction: column;
  }
  #container {
      width: 100%;
      margin: 0;
      padding: 0;
      flex-direction: column;
  }
  #animated-text {
      font-size: 35pt;
  }
  #static-text {
      font-size: 35pt;
  }
  .center {  
      padding: 5vh 0 0 0;
  }
}

@media (max-width: 480px) {
  p.tagline {
      font-size: 22px !important;
  }
  #animated-text {
      font-size: 25pt;
  }
  #static-text {
      font-size: 25pt;
  }
}